<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="jp.enish.misc.liblauncherproxy">

    <uses-permission android:name="android.permission.REORDER_TASKS"/>
    <!--suppress DeprecatedClassUsageInspection -->
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <application>
        <activity
            android:name=".LauncherProxyActivity"
            android:exported="true"
            android:finishOnTaskLaunch="true"
            android:noHistory="true"
            android:screenOrientation="behind"
            android:theme="@style/LibTheme"
            tools:ignore="UnusedAttribute">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.INFO"/>
            </intent-filter>
        </activity>
    </application>

</manifest>